/* TODO: Prevent overlaping between Google's gallery and custom theme */

/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
  margin-top   : 0;
  margin-bottom: 0;
  padding-left : 50px;
}
